@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  background-color: #C7DDB5;
  font-family: 'Roboto', sans-serif;
}

.App {
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.dashboard {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.sidebar {
  height: 100vh;
  width: 200px;
  position: relative;
  background-color: #646E59;
  padding: 0;
  margin-right: 30px;
}

.sidebar-list {
  height: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sidebar-link {
  width: 100%;
  height: 60px;
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  display: flex;
  align-items: center;
}

.side-link-container :hover{
  background-color: #658354;
}

.sidebar-link #icon{
  flex: 30%;
  display: grid;
  place-items: center;
  color: white;
}

.sidebar-link #title{
  flex: 70%;
  color: white;
}

.nav-container {
  width: 100vw;
  height: 60px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav-container h1{
  margin-left: 40px;
  font-weight: bold;
  color: white;
}

.nav-container #icon{
  color: white;
  margin-right: 30px;
}

.about {
  display: flex;
}

.mission-statement {
  width: 80%;
  margin: 25px;
  color: white;
  text-align: center;
  line-height: 1.5em;
}

.mission-statement p{
  background-color: black;
  padding: 15px;
  border-radius: 10px;
  letter-spacing: 0.02em;
}

.mission-statement h1{
  padding: 15px;
  margin: 0;
  color: black;
}

.FAQ {
  display: flex;
}

.faq-accordion-container {
  margin: 25px;
  width: 80%;
}

.recipe {
  display: flex;
}

.recipe-search {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-search form{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

#rec-search-btn {
  width: 10%;
  margin-top: 20px;
  }

.recipe-search input{
  width: 70%;
}

.recipe-results {
  display: flex;
}

.recipe-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.ind-recipe {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
}

.ind-recipe:hover {
  transform: scale(1.1);
}

.ind-recipe h4 {
  overflow: ellipsis;
  max-width: 175px;
  margin: 5px 0 5px 0;
}

.ind-recipe h5 {
  max-width: 190px;
  margin: 0;
  padding: 0;
}

.ind-recipe img{
  width: 200px;
  margin: 0;
}

.element-input {
  text-align: center;
}

input {
  height: 50px;
  border-radius: 10px;
  border-style: none;
}

.button {
  border-radius: 5px;
  border-style: none;
  background-color: #646E59;
  height: 35px;
  font-weight: bold;
}

.button:hover{
  background-color: #88967a;
}

.button:active{
  transform: scale(1.05);
}

.this-recipe {
  display: flex;
  justify-content: space-around;
  color: white;
}

.rec-ingredients {
  background-color: black;
  padding: 15px;
  margin: 25px;
  width: 450px;
  border-radius: 5px;
  height: 500px;
  overflow: scroll;
}

.rec-nutrition {
  background-color: black;
  padding: 15px;
  margin: 25px 25px 25px 0;
  width: 300px;
  border-radius: 5px;
  height: 500px;
  overflow: scroll;
}

.rec-ingredients li{
  margin: 15px;
  list-style-type: circle;
}

.rec-ingredients h2{
  margin-bottom: 40px;
}

.rec-nutrition ul{
  list-style: none;
}
.rec-nutrition h4{
  margin-top: 10px;
  margin-right: 20px;
}

.rec-ingredients h5{
  margin-top: 10px;
}

.rec-nut-item {
  display: flex;
}

.recipe-tags {
  display: flex;
}

.recipe-header {
  margin: 25px 0 25px 25px;
  background-color: black;
  color: white;
  height: 600px;
  max-height: 700px;
  width: 300px;
  padding: 20px;
}

.recipe-header h4{
  margin-left: 10px;
  margin-top: 0;
}

.recipe-header img{
  width: 300px;
}

.rec-nut-item {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-between;
}

.rec-hdr-btns {
  display: flex;
  justify-content: space-between;
}

.rec-hdr-btns button{
  width: 40%;
  background-color: #7b886f;
}

.ind-ing-item {
  display: flex;
}

.ind-ing-item h3{
  margin-right: 10px;
}

.ing-hdr {
  display: flex;
  justify-content: space-between;
}

.ing-hdr button{
  background-color: #7b886f;
  margin: 15px 10px 0 0;
}

.inst-hdr {
  display: flex;
  justify-content: space-between;
}

.inst-hdr button{
  background-color: #7b886f;
  margin: 15px 10px 0 0;
}

.rec-instructions {
  background-color: black;
  padding: 15px;
  margin: 25px;
  width: 450px;
  border-radius: 5px;
  height: 500px;
  overflow: scroll;
}

.grocery-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.ind-grocery {
  width: 150px;
  height: 175px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 15px;
  /* padding: 10px; */
  /* border-radius: 10px; */
  background-color: black;
  color: white;
}

.ind-grocery:hover {
  transform: scale(1.1);
  border: 1px solid black;
}

.ind-grocery h4 {
  overflow: ellipsis;
  height: 100%;
  width: 90%;
  margin: 5px;
  justify-self: center;
}

.grocery-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ind-grocery img{
  width: 150px;
  height: 125px;;
  margin: 0;
  background-color: white;
}

.grocery {
  display: flex;
}

.grocery-search {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grocery-search form{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

#gro-search-btn {
  width: 10%;
  margin: 20px 0 20px 0;
  }

.grocery-search input{
  width: 70%;
}

.grocery-results {
  display: flex;
}