@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  background-color: #C7DDB5;
  font-family: 'Roboto', sans-serif;
}

.App {
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.dashboard {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.sidebar {
  height: 100vh;
  width: 200px;
  position: relative;
  background-color: #646E59;
  padding: 0;
  margin-right: 30px;
}

.sidebar-list {
  height: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sidebar-link {
  width: 100%;
  height: 60px;
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  display: flex;
  align-items: center;
}

.side-link-container :hover{
  background-color: #658354;
}

.sidebar-link #icon{
  flex: 30%;
  display: grid;
  place-items: center;
  color: white;
}

.sidebar-link #title{
  flex: 70%;
  color: white;
}

.nav-container {
  width: 100vw;
  height: 60px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav-container h1{
  margin-left: 40px;
  font-weight: bold;
  color: white;
}

.nav-container #icon{
  color: white;
  margin-right: 30px;
}

.about {
  display: flex;
}

.mission-statement {
  width: 80%;
  margin: 25px;
  color: white;
  text-align: center;
  line-height: 1.5em;
}

.mission-statement p{
  background-color: black;
  padding: 15px;
  border-radius: 10px;
  letter-spacing: 0.02em;
}

.mission-statement h1{
  padding: 15px;
  margin: 0;
  color: black;
}

.FAQ {
  display: flex;
}

.faq-accordion-container {
  margin: 25px;
  width: 80%;
}

.recipe {
  display: flex;
}

.recipe-search {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-search form{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

#rec-search-btn {
  width: 10%;
  margin-top: 20px;
  }

.recipe-search input{
  width: 70%;
}

.recipe-results {
  display: flex;
}

.recipe-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.ind-recipe {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
}

.ind-recipe:hover {
  transform: scale(1.1);
}

.ind-recipe h4 {
  overflow: ellipsis;
  max-width: 175px;
  margin: 5px 0 5px 0;
}

.ind-recipe h5 {
  max-width: 190px;
  margin: 0;
  padding: 0;
}

.ind-recipe img{
  width: 200px;
  margin: 0;
}

.element-input {
  text-align: center;
}

input {
  height: 50px;
  border-radius: 10px;
  border-style: none;
}

.button {
  border-radius: 10px;
  border-style: none;
  background-color: #646E59;
  height: 35px;
  font-weight: bold;
}

.button:hover{
  background-color: #88967a;
}

.button:active{
  transform: scale(1.05);
}

.this-recipe {
  display: flex;
  width: 80%;
  justify-content: space-around;
  color: white;
}

.rec-ingredients {
  background-color: black;
  padding: 15px;
  margin: 25px;
  width: 450px;
  border-radius: 5px;
  height: 500px;
  overflow: scroll;
}

.rec-nutrition {
  background-color: black;
  padding: 15px;
  margin: 25px 25px 25px 0;
  width: 300px;
  border-radius: 5px;
  height: 500px;
  overflow: scroll;
}

.rec-ingredients li{
  margin: 15px;
  list-style-type: circle;
}

.rec-ingredients h2{
  margin-bottom: 40px;
}

.rec-nutrition ul{
  list-style: none;
}
.rec-nutrition h4{
  margin-top: 10px;
  margin-right: 20px;
}

.rec-ingredients h5{
  margin-top: 10px;
}

.rec-nut-item {
  display: flex;
}

.recipe-tags {
  display: flex;
}

.recipe-header {
  margin: 25px 0 25px 25px;
  background-color: black;
  color: white;
  height: 100vh;
  max-height: 700px;
  width: 300px;
  padding: 20px;
}

.recipe-header h4{
  margin-left: 10px;
  margin-top: 0;
}

.recipe-header img{
  width: 300px;
}

.rec-nut-item {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-between;
}

.rec-hdr-btns {
  display: flex;
  justify-content: space-between;
}

.rec-hdr-btns button{
  width: 40%;
  background-color: #7b886f;
}

.ind-ing-item {
  display: flex;
}

.ind-ing-item h3{
  margin-right: 10px;
}

.ing-hdr {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;
}

.ing-hdr h2{
  margin-right: 15px;;
}

.ing-hdr button{
  background-color: #7b886f;
  margin-top: 15px;
}

.inst-hdr {
  display: flex;
  justify-content: space-between;
}

.inst-hdr button{
  background-color: #7b886f;
  margin: 15px 10px 0 0;
}

.rec-instructions {
  background-color: black;
  padding: 15px;
  margin: 25px;
  width: 450px;
  border-radius: 5px;
  height: 500px;
  overflow: scroll;
}

.grocery-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.ind-grocery {
  width: 150px;
  height: 215px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 15px;
  padding: 10px;
  /* border-radius: 10px; */
  /* background-color: white; */
  color: black;
}

.ind-grocery:hover {
  transform: scale(1.2);
  /* border: 2px solid black; */
}

.ind-grocery h4 {
  /* height: 100%; */
  width: 80%;
  margin: 5px;
  justify-self: center;
}

.grocery-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ind-grocery img{
  width: 150px;
  height: 125px;;
  margin-top: 5px;
  background-color: white;
}

.ind-grocery button{
  width: 90%;
  height: 30px;
}

.add-grocery-item{
  width: 90%;
  height: 30px;
}

.grocery {
  display: flex;
}

.grocery-search {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grocery-search form{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

#gro-search-btn {
  width: 10%;
  margin: 20px 0 20px 0;
  }

.grocery-search input{
  width: 70%;
}

.grocery-results {
  display: flex;
}

.calculate {
  display: flex;
}

.calculate-macros {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.calc-macros-hdr {
  width: 30%;
}
.calc-macros-hdr form{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.secondary-calc {
  background-color: black;
  color: white;
  padding: 15px;
  border-radius: 20px;
}

.calc-macros-hdr input, label{
  margin: 10px;
}

.calc-macros-hdr button{
  width: 45%;
  height: 60px;
  font-size: larger;
  background-color: #646E59;
  border-radius: 20px;
}

.macros-hdr-btns{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}

.TDEE-calc {
  width: 30%;
  margin: 50px 0 50px 0;
  padding: 10px;
  background-color: black;
  color: white;
  border-radius: 20px;;
}

.TDEE-calc form{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.TDEE-calc input{
  margin: 10px;
}

.TDEE-calc button{
  width: 40%;
  margin-top: 10px;
}

.macro-supplement {
  width: 30%;
}

.dashboard {
  display: flex;
}

.dashboard-all {
  display: flex;
  justify-content: space-around;
  color: black;
  /* padding: 25px; */
  margin: 25px;
  border-radius: 5px;
  width: 80%;
  height: 100%;;
  /* background-color: white; */
  color: white;
}

.grocery-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin-left: 30px;
  background-color: black;
  border-radius: 10px;
  overflow: scroll;
}

.ind-groc-li {
  display: flex;
  height: 50px;
  width: 80%;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  background-color: white;
  color: black;
}

.ind-groc-li:hover{
  transform: scale(1.03);
}

.ind-rec-li:hover{
  transform: scale(1.03);
}

.ind-groc-li img{
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 5px;;
}

.ind-groc-li h4{
  margin: 0 10px 0 10px;
}

.ind-groc-li button{
  border-radius: 10px;
}

.recipe-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  width: 90%;
  background-color: black;
  border-radius: 10px;
  overflow: scroll;
}



.ind-rec-li {
  display: flex;
  height: 175px;
  width: 80%;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  padding: 10px;
  margin: 5px;
  background-color: white;
  border-radius: 5px;
  color: black;
  text-overflow: clip;
}

.ind-rec-li img{
  height: 125px;
  width: 150px;;
  background-color: white;
  border-radius: 5px;;
}

.ind-rec-li h4{
  margin: 0 10px 0 10px;
}

.user-rec-btns {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.user-rec-btns button{
  margin-top: 10px;
  border-radius: 10px;
}

.user-card-data {
  background-color: black;
  padding: 20px;
  border-radius: 10px;
}

.user-card {
  text-align: left;
  width: 90%;
}

.user-card h1{
  font-size: 2.5em;
  margin-top: 10px;
}

.selected-user-recipe {
  display: flex;
}

.selected-recipe {
  display: flex;
}

.user-profile {
  display: flex;
}

.user-profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  margin: 25px;
}

.user-profile-info form{
  display: flex;
  height: 70%;
  flex-direction: column;
  justify-content: space-evenly;
}

.user-profile-info button{
  margin-right: 15px;
}

#delete-user {
  background-color: red;
}

#delete-user:hover {
  background-color: rgb(219, 2, 2);
}