@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  background-color: #C7DDB5;
  font-family: 'Roboto', sans-serif;
}

.App {
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.dashboard {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.sidebar {
  height: 100vh;
  width: 20%;
  position: relative;
  background-color: #5b7451;
  padding: 0;
  margin-right: 30px;
}

.sidebar-list {
  height: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sidebar-link {
  width: 100%;
  height: 60px;
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  display: flex;
  align-items: center;
}

.side-link-container :hover{
  background-color: #658354;
}

.sidebar-link #icon{
  flex: 30%;
  display: grid;
  place-items: center;
  color: white;
}

.sidebar-link #title{
  flex: 70%;
  color: white;
}

.nav-container {
  width: 100vw;
  height: 60px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav-container h1{
  margin-left: 40px;
  font-weight: bold;
  color: white;
}

.nav-container #icon{
  color: white;
  margin-right: 30px;
}

.about {
  display: flex;
}

.mission-statement {
  width: 80%;
  margin: 25px;
  align-self: center;
  justify-items: center;
  color: white;
  text-align: center;
  line-height: 1.5em;
  background-color: #5b7451;
}

.mission-statement p, h2{
  padding: 15px;
}

.FAQ {
  display: flex;
}

.faq-accordion-container {
  margin: 25px;
  width: 80%;
}

.faq-accordion {
  color: black;
}

.recipe {
  display: flex;
}

.recipe-search {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-search form{
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

#rec-search-btn {
  width: 40%;
  margin-top: 20px;
  }

.recipe-search input{
  width: 100%;
}

.recipe-results {
  display: flex;
}

.recipe-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.ind-recipe {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #87AB69;
  border-radius: 10px;
}

.ind-recipe img{
  width: 175px;
}

.element-input {
  text-align: center;
}

input {
  height: 50px;
  border-radius: 10px;
  border-style: none;
}

.button {
  border-radius: 10px;
  border-style: none;
  background-color: #87AB69;
  height: 35px;
}

.button:hover{
  background-color: #658354;
}

.button:active{

}

